/*Dark Spring Green + Pink + Ivory

Hex Codes: #0e682d, #FFC0CB, #F5F5EA*/

 /*Button design*/
.button {
   background-color: #FFC0CB;
   border-radius: 8px;
   border: 2px solid #0e682d;
   color: #0e682d;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   transition-duration: 0.4s;
 }

.button:hover
{
  background-color: #0e682d;
  color: #FFC0CB;
  border: 2px solid #FFC0CB;
}
 .buttonActive /* for the button that leads to the page the user is currently on*/
 {
   background-color: #0e682d;
   color: #FFC0CB;
   border-radius: 8px;
   border: 2px solid #FFC0CB;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   transition-duration: 0.4s;
 }


 /*style for social logos*/
 .social
 {
   background-color: #FFC0CB;
   color: #0e682d;
   border-radius: 8px;
   border: 2px solid #0e682d;
   height: 75px;
   width: 75px;
 }
.social:hover
{
  background-color: #0e682d;
  color: #FFC0CB;
  border: 2px solid #FFC0CB;
}


*{
  box-sizing: border-box;
  font-size: large;
}

header
{
  background-color: #FFC0CB;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: #0e682d;
}

.profile
{
  border: 2px solid #0e682d;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}




/*Bootstrap customizations*/
.navbar-custom
{
  background-color: #F5F5EA;
  border: 2px solid #0e682d;
}

.footer-custom
{
  float: bottom;
  padding: 10px;
  width: 100%;
  background-color: #FFC0CB;
  border: 2px solid #0e682d;
}

h2
{
  text-align: center;
}

.links {
  background-color: #FFC0CB;
  border-radius: 8px;
  border: 2px solid #0e682d;
  color: #0e682d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  width: 50%;
}

.links:hover {
  background-color: #0e682d;
  color: #FFC0CB;
  border: 2px solid #FFC0CB;
}

p
{
 text-align: center
}

select
{
  background-color: #FFC0CB;

}

option::selection
{
  background-color: #0e682d;
  color: white;
}


